#!/usr/bin/env bash

# Use ipython for driver.
PYSPARK_DRIVER_PYTHON=ipython

# So that links work properly in Spark admin.
SPARK_PUBLIC_DNS={{ spark_public_dns }}

# AWS credentials.
AWS_ACCESS_KEY_ID={{ spark_aws_access_key_id }}
AWS_SECRET_ACCESS_KEY={{ spark_aws_secret_access_key }}

# Avoid too-many-open-files errors.
ulimit -n {{ spark_max_files - 1 }}

# Use common hash seed across nodes (needed for reduceByKey).
PYTHONHASHSEED=1

# Prevent SpaCy from spawning threads.
OPENBLAS_NUM_THREADS={{ spark_openblas_num_threads }}

SPARK_WORKER_DIR={{ spark_worker_dir }}
