#!/bin/bash

export AWS_ACCESS_KEY_ID={{ aws_access_key_id }} AWS_SECRET_ACCESS_KEY={{ aws_secret_access_key }}
$(aws ecr get-login --no-include-email --region us-east-1)
unset AWS_ACCESS_KEY_ID AWS_SECRET_ACCESS_KEY
